<%- include('partials/header') -%> 

<h1>Compose</h1>
<div>
    <form class="item" action="/" method="post">
        <input type="text" name="compose" placeholder="New compose" autocomplete="off" required>
        <button type="submit">publish</button>    
    </form> 
</div>

<%- include('partials/footer') -%>