<%- include('partials/header') -%> 

<h1>Compose</h1>
<div>
    <form class="item" action="/compose" method="post">
        <label>Tittle</label>
        <input type="text" class="form-control" name="composeTittle" autocomplete="off" required>
        <label>Post</label>
        <textarea class="form-control" name= "composeText" rows="15" ></textarea>
        <button type="submit" class="btn btn-primary">Publish</button> 
    </form> 
</div>

<%- include('partials/footer') -%>